<div id="page-wrapper">
    <div class="row">
        <h1 class="page-header">{{title}}</h1>
        <h3>Welcome to Primechain eKYC</h3>
        <p>
            Primechain-eKYC is a permissioned blockchain for sharing corporate KYC records. Primechain-eKYC records are stored in the
            blockchain in an encrypted form and can only be viewed by entities that have been "whitelisted" by the issuer
            entity. This ensures data privacy and confidentiality while at the same time ensuring that records are shared
            only between entities that trust each other.</p>
    </div>
</div>